/* mobile small */
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  
  .App-logo {
    width: 70vw;
  }
  
  .description-text {
    font-size: 8px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 70vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
/* mobile medium */
@media (min-width: 321px){
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  
  .App-logo {
    width: 70vw;
  }
  
  .description-text {
    font-size: 10px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 70vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}

/* mobile large */
@media (min-width: 376px){
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  
  .App-logo {
    width: 70vw;
  }
  
  .description-text {
    font-size: 11px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 70vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}

/* tablet small */
@media (min-width: 426px) {
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .App-logo {
    width: 60vw;
  }
  
  .description-text {
    font-size: 14px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 60vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}

/* tablet large and small laptop */
@media (min-width: 769px) {
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .App-logo {
    width: 55vw;
  }
  
  .description-text {
    font-size: 16.5px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 55vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}

/* large laptop */
@media (min-width: 1025px) {
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .App-logo {
    width: 60vw;
  }
  
  .description-text {
    font-size: 16.5px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 60vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}

/* 4k display */
@media (min-width: 1441px) {
  .App {
    height: 100vh;
    width: 100vw;
    background-color: #201e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .App-logo {
    width: 55vw;
  }
  
  .description-text {
    font-size: 20.5px;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 55vw;
    text-align: center;
  }
  
  .email-link {
    color: white;
  }
}